fastapi
uvicorn[standard]
python-multipart
supabase
python-dotenv
sqlalchemy
langchain
langchain-core
langchain-openai
langchain-groq
openai
chromadb
pydantic
requests
torch
transformers
pypdf
httpx
typing-extensions
streamlit